.Day-header {
    &__date {
        display: inline-block;
        font-size: 2em;

        transform: translateX(-.08em);

        &--today {
            color: color('secondary');
        }

    }
}