.Days {
    display: flex;

    flex-direction: column;

    width: 100%;
    height: 100%;

    will-change: transform, opacity;

    &__row {
        display: flex;
        flex-direction: row;

        flex-shrink: 0;

        width: 100%;

        font-size: 1.6rem;

        &--header {
            border-bottom: 1px solid color('border', 'dark');
        }
    }

    &__scroller {
        overflow: auto;
        flex: 1 1 100%;
    }

    &__row--content &__column {
        border-right: 1px solid color('border');

        &:last-child {
            border: none;
        }
    }

    &__column {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: #{100%/7};

        font-size: 1.4rem;

        transition: all .2s ease-out;

        &--time {
            flex: 0 0 4em;
            text-align: right;
        }
    }

    &__hour {
        height: $one-hour-height;

        border-bottom: 1px solid color('border');
        padding: 0 .375em;

        &:nth-child(odd) {
            background-color: color('border', 'light');
        }
    }
}