.Day-times {
    &__hour {
        height: $one-hour-height;

        position: relative;

        border-bottom: 1px solid color('border');
        padding: 0 .375em;

        &:nth-child(odd) {
            background-color: color('border', 'light');
        }

        &:after {
            display: block;
            content: '';

            position: absolute;
            top: 50%;
            left: 0;
            right: 0;

            border-top: 1px dotted color('border');
        }
    }
}