.Month {
    width: 100%;
    height: 100%;

    overflow: auto;

    &__weeks {
        display: flex;
        flex-direction: column;

        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__week {
        display: contents;
    }

    &__days {
        display: flex;
        flex-direction: row;

        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__day {
        position: relative;
        flex: 0 0 (100% / 7);

        border-right: 1px solid color('border', 'dark');
        border-bottom: 1px solid color('border', 'dark');

        padding: .4em;

        min-height: 8.9vw;

        &--header {
            min-height: 0;

            font-size: 2.4rem;
            border-right: none;
        }

        &__date {
            position: absolute;
            top: .4em;
            right: .4em;

            font-size: 1.4rem;
            font-weight: 400;

            opacity: .4;

        }

        &--today &__date {
            color: color('secondary');
        }
        &--current &__date {
            opacity: 1;
        }
    }
}