.a-form {

    &__input-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    &__input-row &__input {
        flex: 1 1 auto;

        &:not(:first-child) {
            margin-left: .625em;
        }
    }

    &__input {
        display: block;

        height: 3.2rem;
        line-height: 3.2rem;

        margin: 0;
        padding: 0 .375em;

        border-radius: 3px;
        border: 1px solid color('border', 'darker');

        font-size: 1.6rem;
    }
}